.userList{
    flex: 4;
}

.userListUser{
    display: flex;
    align-items: center;
}

.userListImg{
    width: 32px;
    height: 32px;
    border-radius: 30%;
    object-fit: cover;
    margin-right: 10px;
}

.userListEdit{
    bottom: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #5b91c4;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.userListDelete{
    color: red;
    cursor: pointer;
}